.contact {
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  background-color: #ffffff;
}

.contact__title {
  padding: 30px 0 15px 0;
}

.contact__description {
  line-height: 1.5;
}

.contact__button {
  @include button-mixin;
}

.contact-block__title {
  @include form-title;
  padding: 10% 0;
}

@media (min-width: $tablet-width) {
  .contact-block__title {
    padding: 0;
  }
}
