.contact {
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  background-color: #ffffff;
}

.contact__title {
  padding: 30px 0 15px 0;
}

.contact__description {
  line-height: 1.5;
}

.contact__button {
  @include button-mixin;
}
