.emotions-block__input {
  padding: 20px;
  margin: 20px;
  background-color: $input-background;
  width: 240px;
  height: 160px;
  font-weight: bold;
  font-family: "PT Sans", serif;
  border: none;
}
