.emotions-block__title {
  background-color: #ffffff;
  padding: 10% 0;
}

.emotions-block__input {
  background-color: $input-background;
  width: 80%;
  height: 160px;
  margin: 30px 10% 0 10%;
  font-weight: bold;
  font-family: "PT Sans", serif;
  border: none;
}

@media (min-width: $tablet-width) {
  .emotions-block__title {
    padding: 0;
  }
}
