.form-preview {
  text-align: center;
  text-transform: uppercase;
}

.form-preview__image {
  position: relative;
  background-image: url("../img/back-mobile.jpg");
  width: 320px;
  height: 389px;
}

.form-preview__image-triangle {
  position: absolute;
  bottom: 0;
}

.form-preview__text-wrapper {
  padding: 40px 20px;
}

.form-preview__title {
  padding: 30px 0 15px 0;
  font-size: 18px;
}

.form-preview__description {
  font-size: 14px;
  line-height: 1.5;
}
