.form__divider {
  border: 0;
  height: 1px;
  background-color: #d6d6d6;
}

.form__button-wrapper {
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  text-align: center;
}

.form__button {
  @include button-mixin;
}

@media (min-width: $tablet-width) {
  .form {
    width: auto;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .form {
    width: auto;
    margin: 0 auto;
  }

  .form__main {
    width: 960px;
    padding-right: 120px;
    padding-left: 120px;
  }
}
