.gallery__divider {
  border: 0;
  height: 1px;
  background-color: #d6d6d6;
}

.gallery__photo {
  padding: 5%;
  width: 90%;
  height: 280px;
  object-fit: cover;
  object-position: center;
}

.gallery__photo-description {
  padding: 0 20px 20px 20px;
  line-height: 1.5;
}

.gallery__photo-name {
  text-transform: uppercase;
}

.gallery__likes {
  font-weight: bold;
}

@media (min-width: $tablet-width) {
  .gallery__list {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    flex-wrap: wrap;
    margin: 0 10%;
  }

  .gallery__item {
    width: 50%;
    margin: 0;
  }

  .gallery__item:first-child {
    width: 100%;
  }

  .gallery__photo {
    padding: 0;
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: center;
  }
}

@media (min-width: $desktop-width) {
  .gallery__list {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    flex-wrap: wrap;
    margin: 0 10%;
  }

  .gallery__item {
    position: relative;
    width: 33.3%;
    margin: 0;
  }

  .gallery__item:first-child {
    width: 100%;
  }

  .gallery__photo {
    padding: 0;
    width: 100%;
    height: 267px;
    object-fit: cover;
    object-position: center;
  }

  .gallery__photo-description {
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.302);
    color: #ffffff;
    z-index: 2;
  }
}
