.page-main {
  width: 320px;
  // padding: 10%;
  font-size: 14px;
  text-transform: uppercase;
}

.intro__logo-image {
  position: relative;
  background-image: url("../img/back-mobile.jpg");
  width: 320px;
  height: 389px;
}

.intro__logo-image-text {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 280px;
  height: 210px;
}
