@import "../mixins.scss";

.intro__logo-image {
  position: relative;
  background-image: url("../img/content/back-mobile.jpg");
  min-width: 320px;
  height: 389px;
  background-repeat: no-repeat;
  background-position: center;
}

.intro__logo-image-text {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 280px;
  height: 210px;
}

.intro__image-triangle {
  @include triangle-styling;
}

@media (min-width: $tablet-width) {
  .intro__logo-image {
    position: relative;
    background-image: url("../img/content/back-tablet.jpg");
    width: auto;
    height: 510px;
  }

  .intro__logo-image-text {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 460px;
    height: 350px;
  }
}

@media (min-width: $desktop-width) {
  .intro__logo-image {
    position: relative;
    background-image: url("../img/content/back-desktop.jpg");
    width: auto;
    height: 520px;
  }

  .intro__logo-image-text {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 460px;
    height: 350px;
  }
}
