.main-nav {
  position: relative;
}

@media (min-width: $tablet-width) {
  .main-nav {
    width: auto;
    margin: 0;
  }

  .main-header__wrapper {
    width: 715px;
    margin: 0 auto;
  }

  .page-header__list {
    width: 100%;
    // for net
    min-height: 56px;
  }
}
