.main-footer {
  padding: 40px 0 10px 0;
  min-width: 320px;
  margin: 0 auto;
  background-color: #ffffff;
}

.main-footer_title {
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
}

@media (min-width: $tablet-width) {
  .main-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0;
  }

  .main-footer_title {
    padding: 0;
    margin: auto;
    display: inline;
    vertical-align: middle;
  }
}
