.main-footer {
  padding: 40px 0 10px 0;
  width: 320px;
  margin: 0 auto;
  background-color: #ffffff;
}

.main-footer_title {
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}

.social__list {
  display: flex;
  justify-content: space-between;
  padding: 30px 85px;
}

.social__item {
  position: relative;
  margin: 2px;
  width: 46px;
  height: 48px;
  background-color: $baby-blue;
  cursor: pointer;
  overflow: hidden;
  text-align: center;
}

.social__link svg {
  height: 100%;
  fill: #ffffff;
}
