.main-footer {
  padding: 40px 0 10px 0;
  width: 320px;
}

.main-footer_title {
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}

.social__list {
  display: flex;
  justify-content: space-between;
  padding: 30px 85px;
}

.social__item {
  margin: 5px;
  width: 46px;
  height: 48px;
  background-color: $baby-blue;
  cursor: pointer;
  overflow: hidden;
}
