.page-header {
  background: white;
}

.page-header__logo-image {
  width: 320px;
  height: 389px;
}

.main-nav__toggle {
  width: 320px;
  height: 56px;
}

.page-header__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.page-header__item {
  width: 320px;
  background-color: #81b3d2;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  padding: 20px 0;
  font-size: 18px;
  border-bottom: 1px solid #678fa8;
  border-top: 1px solid #9ac2db;
}

.button {
  padding: 0;
  margin: 0;
}

.button--close {
  width: 25px;
  height: 25px;
}

.button--burger {
  width: 25px;
  height: 25px;
}
