.page-main {
  min-width: 320px;
  width: 100%;
  font-size: 18px;
  text-transform: uppercase;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .page-main {
    width: auto;
    margin: 0 auto;
  }
}
