@import "../variables.scss";

.page-header {
  display: flex;
  flex-direction: column;
}

.page-header--burger-wrapper {
  position: relative;
  width: 320px;
}

@media (min-width: $tablet-width) {
  .page-header {
    background: #ffffff;
    z-index: 2;
  }
}
