@import "../variables.scss";

.page-header {
  display: flex;
  flex-direction: column;
}

.page-header__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.page-header__item {
  background-color: $baby-blue;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  padding: 20px 0;
  border-bottom: 1px solid #678fa8;
  border-top: 1px solid #9ac2db;
  font-size: 18px;
  font-family: "PT Sans", serif;
  font-weight: bold;
}

.page-header--burger-wrapper {
  position: relative;
  width: 320px;
}

.page-header__button--close {
  position: absolute;
  right: 20px;
  top: 16px;
  width: 25px;
  height: 25px;
  border: none;
  padding: 0;
  margin: 0;
  background-color: $baby-blue;
  background-image: url("../img/icon-cross.png");
  background-repeat: no-repeat;
}

.page-header__button--burger {
  position: absolute;
  right: 20px;
  top: 16px;
  width: 25px;
  height: 25px;
  border: none;
  padding: 0;
  margin: 0;
  background-color: transparent;
  background-image: url("../img/icon-menu.png");
  background-repeat: no-repeat;
}

.page-header__logo-image {
  position: absolute;
  left: 50%;
  top: 0;
  z-index: 1;
  margin-left: -51px;
}

.page-header__item--logo-link {
  position: absolute;
  display: block;
  width: 102px;
  height: 85px;
  padding: 0;
  left: 50%;
  margin-left: -51px;
  background-color: transparent;
}

.page-header__item--logo {
  position: relative;
  min-height: 57px;
  order: 1;
  background-color: #ffffff;
  z-index: 1;
  padding: 0;
  border: 0;
}

@media (min-width: $tablet-width) {
  .page-header {
    background: #ffffff;
  }

  .page-header__list {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    // for net
    min-height: 56px;
  }

  .page-header__item {
    background-color: #ffffff;
    color: #000000;
    border: 0;
    width: calc(100% / 5);
  }

  .page-header__item--logo {
    position: absolute;
    top: 0;
    left: 50%;
    min-height: auto;
    transform: translateX(-50%);
  }

  .page-header__button--close,
  .page-header__button--burger {
    display: none;
  }
}
