.social__list {
  display: flex;
  justify-content: space-between;
  width: 150px;
  padding: 30px 85px;
  margin: 0 auto;
}

.social__item {
  position: relative;
  margin: 2px;
  width: 46px;
  height: 48px;
  background-color: $baby-blue;
  cursor: pointer;
  overflow: hidden;
  text-align: center;

  &:hover {
    background-color: $baby-blue-hover;
    fill: #ffffff;
  }

  &:active {
    background-color: $baby-blue-down;
    fill: $baby-blue;
  }
}

.social__link svg {
  height: 100%;
  fill: #ffffff;
}
