// mixins
@mixin triangle-styling {
  position: absolute;
  bottom: 0;
}

@mixin form-title {
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  padding: 24px;
}

@mixin button-mixin {
  padding: 20px 45px;
  margin: 40px 0 30px 0;
  color: #ffffff;
  background-color: $baby-blue;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
}
