// mixins
@mixin triangle-styling {
  position: absolute;
  bottom: 0;
  margin-bottom: -1px; // only for some devices - to avoid thin line, may delete later
  height: 57px;
  width: 100%;
  min-width: 320px;
  max-width: 1200px;
  background-image: url("../img/intro-triangle.png");
  background-size: cover;
  background-position: center;
}

@mixin form-title {
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  min-width: 300px;
}

@mixin button-mixin {
  padding: 20px 45px;
  margin: 40px 0 30px 0;
  color: #ffffff;
  background-color: $baby-blue;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
}
