// vars

$baby-blue: #81b3d2;
$baby-blue-hover: #669ec0;
$baby-blue-down: #5496bd;
$input-background: #f2f2f2;
$disabled: #e5e5e5;

$mobile-width: 320px;
$tablet-width: 768px;
$mobile-width-only: 767px;
$desktop-width: 1200px;
